li {
  border-right: 1px solid #1b587c;
}

nav.navigation-bar a.nav-link,
nav.navigation-bar a.navbar-brand {
  color: #1b587c;
}

nav.navigation-bar:hover a.nav-link:hover,
nav.navigation-bar:hover a.navbar-brand:hover{
  color: #fc0107;
}

body{
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}
p.bienvenida-intro {
  border-top: 1px solid #fff;
  font-size: 31px;
}

.sobre-nosotros {
  border-left: 1px solid #1b587c;
  font-family: 'Dosis', sans-serif;
}

.background1 {
  /*URL de imagen de fondo*/
  width: 100%;
  height: auto;
  background-image: url("../images/2_pag_cabeza.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.background-servicios-y-soulciones{
  width: 100%;
  height: auto;
  background-image: url("../images/3_pag_cabeza.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto; 
}

.background-contacto{
  width: 100%;
  height: auto;
  background-image: url("../images/5_pag_cabeza.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;  
}

.background-política-calidad{
  width: 100%;
  height: auto;
  background-image: url("../images/4_pag_cabeza.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;   
}

.bienvenida {
  padding: 50px 50px;
}

.navigation-bar {
  width: 100%;
  position: fixed;
  opacity: 0.8;
  background-color: #797e89;
  font-weight: bold;
  font-size: 1.1em;
}

.options-navbar{
  padding: 0px 22px;
}

.texto-bienvenida {
  opacity: 0.7;
  background-color: #1b587c;
  color: #fff;
  border-radius: 10px;
  padding: 7px 7px 7px;
  font-family: 'Dosis', sans-serif;
  font-size: 65px;
}

.formulario{
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #1b587c;
}

.logo{
	width: 170px ;
	height: 58px;
}

.segunda-seccion{
	padding: 50px;
}

.caja-texto{
	border-radius: 5px;
	background-color: grey;
}

.tercera-seccion{
  padding: 50px; 
}

.caja1{
  background-color: grey;
}

.caja2{
  background-color: black;
}

.logo-footer{
	width: 250px;
	height: 100px;
}

.links{
  width: 30px;
  height: 30px;
}

.footer{
  background-color: #1b587c;
  color: white;
}

.wopadding{
  margin: 0px auto;
}

.tel-icon{
  width: 30px;
  padding-top: 10px;
}

.entradas{
  height: 2.5em;
  color: #1b587c;
}

.texto-contacto-política{
  margin: 3em 6.8em;
  font-family: 'Raleway', sans-serif;
  color: #1b587c;
  text-align: center;
}

.mk-circle{
  text-align: center;
  background-color: #1b587c;
  opacity: 0.95;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}